* {
  margin: 0;
  padding: 0;
  transition: 0.074s;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body {
  position: relative;
  top: calc(60px - 3px);
  background: linear-gradient(
    130deg, 
    #1a0420, 
    #3e0a4d,
    #1a0420, 
    #3e0a4d,
    #1a0420,
    #3e0a4d,
    #1a0420, 
    #3e0a4d,
    #1a0420,
    #3e0a4d,
    #1a0420);
}

button {
  border: none;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

button:hover {
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

header {
  left: 0;
  right: 0;
  top: -3px;
  gap: 10px;
  height: 60px;
  z-index: 100;
  display: grid;
  position: fixed;
  padding: 5px 10px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #730292;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: rgb(26, 4, 32);
}

.name {
  height: 100%;
  display: flex;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

.name:hover, .name:active {
  color: #c800ff;
}

.inputSection{
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputSection input {
  border: none;
  height: 40px;
  outline: none;
  padding-left: 10px;
  border-radius: 8px 0 0 8px;
}

.searchBtn {
  height: 40px;
  padding: 10px;
  color: white;
  font-size: 16px;
  border-radius: 0 8px 8px 0;
  background-color: rgb(0, 255, 0);
}

.searchBtn:hover, .searchBtn:active {
  background-color: #730292;
}

.user {
  height: 100%;
  display: flex;
  background: none;
  align-items: center;
  justify-content: center;
}

.toLogin {
  height: 100%;
}

.toLogin a {
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.toLogin a:hover, .toLogin a:active  {
  color: #c800ff;
}

summary {
  color: white;
  font-weight: bold;
}

summary:hover, summary:focus {
  color: #730292;
}

details ul {
  display: flex;
  position: fixed;
  overflow: hidden;
  border-radius: 5px;
  flex-direction: column;
  background-color: #3e0a4d;
}

details ul a{
  transition: 0.5s;
  padding: 15px 20px;
  display: flex;
  color: white;
  font-weight: bold;
  text-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

details ul a:hover, details ul a:active{
  background-color: #1a0420
}

.home {
  color: white;
  padding: 35px 5%;
  object-fit: cover;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url('images/background-img1.jpg');
}

.welcomeMsg {
  width: 60%;
}

.openMsg {
  display: flex;
  flex-wrap: wrap;
  font-size: 35px;
  line-height: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.shopily {
  background: linear-gradient(
    to bottom right,
    #8000ff,
    #1a0420,
    #3e0a4d,
    #1a0420,
    #8000ff);
  color: transparent;
  background-clip: text;
  background-size: 1000%;
  animation: glowingbn5 20s linear infinite;
}

.description {
  margin-top: 10px;
  margin-bottom: 20px;
}

.shopNowBtn {
  padding: 3px;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    #c800ff,
    #730292,
    #3e0a4d,
    #730292,
    #8000ff,
    #3e0a4d,
    #c800ff);
  background-size: 1000%;
  animation: glowingbn5 20s linear infinite;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.shopNowBtn a{
  display: flex;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  background-color: #1a0420;
}

.shopNowBtn a:hover, .shopNowBtn a:active{
  background: none;
}

.help {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-between;
}

.helpText {
  padding: 5px;
}

.helpText p {
  padding: 1px;
  font-weight: bold;
  border: 2px solid;
  border-radius: 5px;
  margin-bottom: 2px;
  text-align: center;
}

.helpText span {
  font-size: 14px;
}

.shop {
  padding: 15px 5%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url('images/background-img.jpg');
}

.cartDisplay {
  right: 5px;
  display: flex;
  position: fixed;
  padding: 5px 10px;
  border-radius: 5px;
  justify-content: right;
  background-color: rgb(0, 250, 0);
}

.cartDisplay a:hover {
  color: rgb(17, 85, 17);
}

.cartDisplay a{
  display: flex;
  cursor: pointer;
  font-weight: bold;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
  color: rgb(26, 4, 32);
}

.products {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.topic {
  font-weight: bold;
  text-align: center;
  font-size: xx-large;
  color: rgb(0, 250, 0);
  text-underline-position: above;
}

.underlineMain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.underline {
  height: 3px;
  border: none;
  width: 200px;
  border-radius: 10px;
  background-color: rgb(26, 4, 32);
}

.productsNav {
  display: flex;
  margin-top: 10px;
  overflow-x: auto;
  border: 2px solid;
  border-radius: 10px 10px 0 0;
}

.category {
  flex: 1;
  border: none;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(26, 4, 32);
}

.notActive {
  background-color: rgb(0, 255, 0);
}

.category:hover {
  opacity: 0.8;
}

.active {
  background-color: rgb(17, 85, 17);
}

.productsNav::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(17, 85, 17);
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productDesc {
  max-width: 250px;
  padding: 5px 20px;
  border: 1px solid;
  border-radius: 10px;
}

.productImage{
  display: flex;
  height: 250px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.productImage img{
  width: auto;
  height: 100%;
}

.productDesc h3{
  color: white;
  text-align: center;
  border-radius: 4px;
  border: 1px solid white;
}

.products p {
  display: flex;
  margin-top: 5px;
  text-align: center;
  color: rgb(219, 219, 219);
}

.productDescription {
  font-size: 70%;
}

.productPrice {
  font-size: 150%;
  font-weight: bold;
}

.addToCart {
  gap: 5px;
  width: 100%;
  border: none;
  display: flex;
  color: black;
  padding: 5px 0;
  cursor: pointer;
  margin-right: 5px;
  font-weight: bold;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 255, 0);
}

.addToCart:hover {
  color: white;
  background-color: rgb(17, 85, 17);
}

.addToCart:active {
  color: white;
  background-color: rgb(17, 85, 17);
}

footer {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 5%;
  background-color: #1a0420;
  justify-content: space-around;
  border-top: 2px solid #730292;
}

.reachUs {
  gap: 15px;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
}

.reachUs div {
  gap: 10px;
  display: flex;
}

.reachUs div a{
  gap: 2px;
  display: flex;
  align-items: center;
  color: whitesmoke;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
}

.reachUsOne, .reachUsTwo, .reachUsThree {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reachUsOne a:hover, .reachUsTwo a:hover, .reachUsOne a:active, .reachUsTwo a:active{
  color: #730292;
}

iframe {
  border: none;
  border-radius: 10px;
}

.about {
  padding: 35px 5%;
}

.about h2{
  color: white;
}

.contact {
  padding: 35px 5%;
  height: 100dvh;
}

.iframe {
  padding: 35px 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a0420;
}

.iframe iframe{
  width: 100%;
}

.formBox {
  display: flex;
  padding: 35px 5%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.formBox h2 {
  color: wheat;
  padding-bottom: 5px;
}

.formBox form {
  gap: 10px;
  padding: 30px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    to bottom right, 
    #1a0420, 
    #3e0a4d,
    #1a0420, 
    #3e0a4d,
    #1a0420,
    #3e0a4d,
    #1a0420, 
    #3e0a4d,
    #1a0420);
}

.formBox label {
  gap: 5px ;
  display: flex;
  color: white;
  font-weight: bold;
  flex-direction: column;
}

.formBox label span{
  color: red;
  font-size: small;
  font-weight: lighter;
}

.formBox form input{
  border: none;
  padding: 10px;
  font-size: 100%;
  font-weight: bold;
  border-radius: 4px;
}

.formBox form button {
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  background-color: #730292;
}

.formBox form button:hover, .formBox form button:active {
  background-color: #3e0a4d;
}

.toRegister, .toLogin {
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.toRegister:hover, .toLogin:hover, .toRegister:active, .toLogin:active {
  color: rgb(0, 0, 0);
}

.profile {
  right: 0;
  gap: 10px;
  z-index: 100;
  display: flex;
  position: fixed;
  padding: 20px 10px;
  flex-direction: column;
  backdrop-filter: blur(10px);
  background-color: rgb(26, 4, 32);
}

.profile h2 {
  color: rgb(17, 85, 17);
}

.details {
  gap: 10px;
  display: flex;
  color: white;
  flex-direction: column;
}

.logOut {
  color: red;
  cursor: pointer;
  font-weight: bold;
  text-align: right;
}

.logOut a{
  color: red;
}

.logOut a:hover {
  color: rgb(112, 5, 5);
}

.purchaseProducts {
  top: 60px;
  gap: 10px;
  left: 10px;
  right: 10px;
  z-index: 100;
  display: flex;
  position: fixed;
  padding: 20px 10px;
  flex-direction: column;
  background-color: wheat;
}

.noItems {
  padding: 10px;
  color: white;
  border: 2px solid;
  border-radius: 10px;
}